<div class="container">
  <div class="row">
    <!-- <div class="col-md-6"> -->
    <div class="card">
      <div style="padding:15px">
        <h5>Summary Details</h5>
        <hr>
        <!-- LastName -->
        <div>
          <label class="col-form-label ">Last Name : {{summary?.lastname}}</label>
        </div>
        <!-- firstName -->
        <div>
          <label class="col-form-label">First Name :  {{summary?.firstname}}</label>
        </div>
        <!-- Address -->
        <div>
          <label class="col-form-label" >Address : {{summary?.address}}</label>
        </div>
        <!-- email -->
        <div>
          <label class="col-form-label" >Email :  {{summary?.email}}</label>
        </div>
        <!-- phone Number -->
        <div>
          <label class="col-form-label">Phone Number : {{summary?.phonenumber}}</label>
        </div>

      </div>
    </div>
  </div>
</div>